*{
    padding: 0px;
    margin: 0px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

.header{
    display: flex;
    justify-content: center ;
    background-color: #ffeb3b;
    padding: 10px;
    h1{
        color: #40c4ff;
        font-size: 3rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 30px;
    color: #e8f5e9;
    display: inline-block;
   transition: all 5s;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.enlace:hover{
     color: #212121;
     
     transform:translate(20px);
}
.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #03a9f4;
    padding: 10px;
   
}
.boton{
    background-color: #7e57c2;
    
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s ;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 10px;
}
.boton:hover{
    background-color: #5c6bc0;
    transform: scale(1.1);
}
.main{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items:first baseline;
    flex-direction: column;
    
}

.texto{
    color: white;
}

@media(width >=768px){
          
    .navegacion{
       flex-direction: row;
      
    }
   .boton{
    width:5%;
   }
}
h2{
    color: red;
    font-size: 2.6rem;
}
.app{
    display: grid;
    grid-template-columns:  1fr;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
.link:hover{
    color: red  ;
}
.footer{
    margin-top: 200px;
    padding: 10px;
    background-color: #84b6f4;
    color: white;
    font-size: 3rem;
    text-align: center;
}
.footer_Parrafo{
    font-size: 1.5rem;
   text-transform: capitalize;
   font-family: "Nanum Myeongjo", serif;
   font-weight: 400;
   font-style: normal;
    
}
.negrita{
    color: black;
}